/* ========================
   VARIÁVEIS CSS
========================= */
:root {
  --font-family-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-fallback: sans-serif;
  --font-size-base: 1em;
  --color-dark: #242424;
  --color-light: #ffffff;
  --color-primary: #646cff;
  --color-hover: #535bf2;
  --button-bg: #1a1a1a;
  --button-bg-hover: #646cff;
  --button-bg-focus: #f9f9f9;
  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #213547;
  --link-hover-light: #747bff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-primary), var(--font-family-fallback);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color-light);
  background-color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--color-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s ease, background-color 0.25s ease;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* App.css ou index.css */

/* Estilo inicial para os elementos */
.reveal {
  opacity: 0;
  transform: translateY(20px); /* Desloca um pouco o elemento */
  transition: opacity 1s ease, transform 1s ease;
}

/* Quando o elemento se torna visível */
.revealed {
  opacity: 1;
  transform: translateY(0);
}

/* ========================
   MÍDIAS PARA O TEMA CLARO
========================= */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--color-light);
  }

  a:hover {
    color: var(--link-hover-light);
  }

  button {
    background-color: var(--button-bg-focus);
  }
}
